<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DB_Downloader - Dirección de Auditoría Continua</title>
    <link href="/static/bundles/index.fonts.css" rel="stylesheet"><link href="/static/bundles/index.styles.css" rel="stylesheet"></head>
    <style type="text/css">        
        .aside-menu{
        	display: none;
        }
    </style>    
  </head>
  
  <body>
    <div id="root"></div>
  	<script type="text/javascript" src="/static/bundles/index.js"></script>
  </body>

</html>
